<a href="https://colab.research.google.com/github/lnunezma/Rentavariableyderivados22/blob/main/Practica1__.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programación en Python

In [ ]:
print("Bienvenidos al mundo de las Finanzas")

Bienvenidos al mundo de las Finanzas

**PRACTICA 1 - BONOS SINTÉTICOS Y FORWARD**

Calcular el precio y la TIR del bono X conocidos los bonos A, B, C y E que cotizan en un mercado de renta fija. Realice por dos métodos al menos.



![image.png]()

In [ ]:
pip install numpy-financial

Collecting numpy-financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from numpy-financial) (1.21.5)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0

In [ ]:
import numpy_financial as npf

cash_flows = [-600_000, 100_000, 150_000, 200_000, 250_000, 300_000]
discount_rate = 0.1

van = npf.npv(discount_rate, cash_flows)
print(f"Net Present Value ({discount_rate:.2%}) = {van:,.2f} €")

Net Present Value (10.00%) = 122,168.75 €

In [ ]:
x=10
print("el valor de x es", x)
print(f"el valor de x es [x] y su cuadrado es {x**2}")

el valor de x es 10
el valor de x es [x] y su cuadrado es 100

In [ ]:
tir = npf.irr(cash_flows)
print(f"Internal rate of return: {tir:.2%}")

Internal rate of return: 16.40%

In [ ]:
initialInvestment = cash_flows[0]       # guardamos en una variable el desembolso inicial
cash_flows[0] = 0                       # en la lista de cash flows hacemos cero el desembolso inicial
van = initialInvestment + npf.npv(discount_rate, cash_flows)
print(van)                              # obtenemos el van esperado, ahora sin formato

122168.75399718084

### Programando el VAN
* Valor Actual Neto
* $A$ = Desembolso inicial
* $Q_t$ = Flujos de caja desde $t=1$ hasta $t=n$
* $k$ = tasa de descuento

$$ \mathrm{VAN} = -A + \sum_{t=1}^n{\frac{Q_t}{(1+k)^t}} $$

In [ ]:
def van(tasa, flujos): 
    total = 0 #incializamos la variable total (definición)
    for i, flujo in enumerate(flujos):  
        total += flujo / (1 + tasa)**i
    return total

tasa = 0.1
flujos = [-600_000, 100_000, 150_000, 200_000, 250_000, 300_000]
print(f"VAN = {van(tasa, flujos):,.2f} €")          #para invocar una formula con dos parametros, se meten dentro de parentesis separados por una coma.

VAN = 122,168.75 €

In [ ]:
#Ejemplo de función de Python
def saluda():
    print("Buenas tardes")

saluda()

def hola(nombre):
        print("Hola", nombre, "Que tal?")

hola ("Ana")

Buenas tardes
Hola Ana Que tal?

In [ ]:
#función con return

x=5

def doblar(n):
    return 2*n

print (f"el doble de {x} es {doblar(x)}")

el doble de 5 es 10

In [ ]:
#el for es un bucle
for i in range(1,6):  #aqui le estamos especificando que empieza en el 1, y el final es n-1
    print(i)

1
2
3
4
5

In [ ]:
lista = ["Madrid", "Londres","Paris", "Roma"]
for ciudad in lista:       #método 1
    print(ciudad)

print()

for i in range(len(lista)):      #método 2 (la longitud de la lista es 4, como el ultimo no entra, de 0-3)
    print(i, lista[i])

Madrid
Londres
Paris
Roma

0 Madrid
1 Londres
2 Paris
3 Roma

In [ ]:
#Explicación de Acumular

total = 0
for i in range(1,101):          #Acumulando los números o sumar los numero del 1 al 100
    #total=total + i
    total += i                  #esta linea y la anterior son iguales

print(total)

5050

## Función Pago (pmt)
* npf.pmt(rate, nper, pv, fv, when = ‘end’)
* fv es optativo, por defecto es 0
* when es optativo, por defecto es 'end', pagos a final de periodo, pospagable
* Calcular el pago mensual periódico necesario para amortizar un préstamo de 350.000 €, a 20 años, al 6% TIN (Tipo de Interés Nominal)
* con Excel: =PAGO(6%/12;20*12;-350000)

In [ ]:
import numpy_financial as npf

pago = npf.pmt(0.06/12, 20 * 12, 350_000)

# Here fv = 0 ; Also Default value of fv = 0
print(f"Pago mensual: {-pago:,.2f} €" )

Pago mensual: 2,507.51 €